# Environment variables (Ignores .env files in root AND all subfolders)
.env
.env.*
.env.local
!.env.example

# Dependencies
node_modules/

# Build files
dist/
build/
.next/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db